/* =========================
   HEADER CONTAINER
========================= */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;

  /* Glass + blend with background */
  background: rgba(221, 238, 242, 0.91);
  backdrop-filter: blur(12px);

  /* Separation from page */
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(46, 96, 176, 0.15);

  
}

/* =========================
   LEFT SIDE (LOGO + TITLE)
========================= */
.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Logo */
.header-logo {
  width: 32px;
  height: auto;
}

/* Title */
.header-title {
  font-size: 22px;
  font-weight: 600;
  color: #041228;
}

/* =========================
   MENU
========================= */
.header-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Links */
.header-link {
  text-decoration: none;
  color: #041228;
  font-weight: 500;
  font-size: 0.95rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.header-link:hover {
  color: #2e60b0;
}